.loginPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 50px 0;

  .loginContainer {
    display: flex;
    min-height: 545px;
    padding: 50px 0;

    .loginWrap {
      display: flex;

      @media (max-width: 1250px) {
        padding: 59px 0;
      }

      .loginBanner {
        display: flex;
        padding: 16px 9px 20px;

        .bannerWrap {
          margin: 37px 40px 0 0;

          @media (max-width: 1250px) {
            margin-right: 0;
          }

          @media (max-width: 1023px) {
            display: none;
          }

          .info {
            padding: 16px 9px 20px;

            strong {
              font-size: 25px;
              font-weight: 600;
              line-height: 32px;
              color: #252525;
            }

            .description {
              margin-top: 5px;
              font-size: 13px;
              font-weight: 600;
              line-height: 18px;
            }
          }

          img {
            width: 540px;
            object-fit: cover;
          }
        }
        .formWrap {
          display: inline-block;
          width: 100%;
          max-width: 480px;
          padding: 60px 70px;
          font-size: 16px;
          text-align: left;
          border: 1px solid #e5e5e5;

          @media (max-width: 1250px) {
            max-width: 420px;
          }

          .logo {
            display: inline-block;
            line-height: 1;
            background: url('../../images/kakao-sprite.png');
            width: 88px;
            height: 27px;
            margin-bottom: 30px;
            font-size: 30px;

            p {
              position: relative;

              height: 100%;
              z-index: -1;
              overflow: hidden;
            }
          }

          .form {
            input {
              width: 100%;
              height: 48px;
              border: 2px solid;
              border-style: solid;
              border-width: 0 0 2px 0;
              border-color: #ebebeb;
              padding: 11px 0 8px 0;
              color: #252525;
              font-size: 15px;
              font-weight: 600;
              outline: 0;
              caret-color: #f7e317;

              &::placeholder {
                color: #8e8e8e;
                letter-spacing: -1px;
              }

              &[type='password'] {
                letter-spacing: 1px;
              }
            }

            .keepLogin {
              margin-top: 25px;

              .keepLoginInBox {
                width: 20px;
                height: 20px;
                margin: 0 8px 0 0;
                border-radius: 50%;
                vertical-align: text-bottom;

                &[type='checkbox']:checked {
                  background-color: #d9534f;
                  color: #a4b7c6;
                  border-radius: 50%;
                }
              }

              label {
                font-size: 14px;
                line-height: 20px;
                font-weight: 600;
                color: #4c4c4c;
                cursor: pointer;
              }
            }
          }
        }

        .loginBtn {
          display: block;
          width: 100%;
          height: 50px;
          margin-top: 40px;
          padding: 0;
          border: 0;
          border-radius: 4px;
          font-size: 15px;
          font-weight: 600;
          color: #191919;
          background-color: #fee500;
        }

        .lineWrap {
          display: flex;
          padding: 15px 0;
          .line {
            flex-grow: 1;
            width: calc(50% - 20px);
            height: 1px;
            margin: 8px 0;
            background-color: rgba(0, 0, 0, 0.06);
          }

          .lineWord {
            display: inline-block;
            width: 40px;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            color: rgba(0, 0, 0, 0.3);
          }
        }

        .qrBtn {
          display: block;
          width: 100%;
          height: 50px;
          padding: 0;
          border: 0;
          border-radius: 4px;
          font-size: 15px;
          font-weight: 600;
          color: #191919;
          background-color: #f6f6f6;
        }

        .infoUser {
          margin-top: 30px;

          a {
            float: left;
            font-size: 12px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.7);
          }

          div {
            float: right;

            a:last-child::after {
              content: '';
              float: left;
              width: 1px;
              height: 10px;
              margin: 4px 10px;
              background-color: #e5e5e5;
            }
          }
        }
      }
    }
  }
}
.loginFooter {
  padding: 20px 0 60px;
  border-top: 1px solid #e5e5e5;
  text-align: center;

  .linkInfo {
    display: inline-block;
    padding: 0 10px;
    font-size: 12px;
    color: #4c4c4c;
    line-height: 20px;

    &.linkPolicy {
      font-weight: 600;
      font-family: NotoSans-Bold, sans-serif;
    }
  }

  .txtCopyright {
    display: block;
    margin-top: 8px;
    font-size: 11px;
    font-weight: bold;
    color: #7c7c7c;
    line-height: 18px;
    letter-spacing: 0;
  }
}
