.filterModalWrap {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000002;
  opacity: 1;
  transition: opacity 0.3s ease 0s;

  .filterModal {
    position: absolute;
    width: 640px;
    height: auto;
    inset: auto 0px 0px;
    margin: 0px auto;
    transform: none;
    background: rgb(255, 255, 255);
    border: 0px;
    outline: none;
    overflow: visible;

    .filterUl {
      background-color: rgb(255, 255, 255);
      overflow: hidden;

      .filterLi {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        line-height: 35px;
        cursor: pointer;

        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 100%;
          padding: 0px 17px;
          font-size: 16px;
          line-height: 1.47;
          letter-spacing: -0.23px;
          color: rgb(154, 154, 158);
          background-color: rgb(255, 255, 255);

          &:hover {
            background-color: rgb(247, 247, 247);
            color: rgb(0, 0, 0);
          }

          &:active {
            background-color: rgb(247, 247, 247);
            color: rgb(0, 0, 0);
          }

          img {
            width: 20px;
            height: 22px;
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}
