%commonGrid {
  display: grid;
  grid-template-rows: 212px 212px;
  grid-template-columns: 212px 212px;
  gap: 2px;
  margin-bottom: 2px;
}

.hotGridWrap {
  width: 640px;
  margin: 0 auto;
  padding-top: 90px;

  .hotGrid {
    .sectionGrid1 {
      @extend %commonGrid;

      .gridItem:nth-child(1) {
        grid-area: 1/1/3/3;
      }
      .gridItem:nth-child(2) {
        grid-area: 1/3/2/4;
      }
      .gridItem:nth-child(3) {
        grid-area: 2/3/3/4;
      }
    }

    .sectionGrid2 {
      @extend %commonGrid;

      .gridItem:nth-child(1) {
        grid-area: 1/1/2/2;

        .gridHeart {
          top: 174px;
        }

        .girdCart {
          top: 174px;
        }
      }
      .gridItem:nth-child(2) {
        grid-area: 1/2/2/3;
      }
      .gridItem:nth-child(3) {
        grid-area: 1/3/2/4;
      }
      .gridItem:nth-child(4) {
        grid-area: 2/1/3/2;
      }
      .gridItem:nth-child(5) {
        grid-area: 2/2/3/3;
      }
      .gridItem:nth-child(6) {
        grid-area: 2/3/3/4;
      }
    }

    .sectionGrid3 {
      @extend %commonGrid;

      .gridItem:nth-child(1) {
        grid-area: 1/2/3/4;
      }
      .gridItem:nth-child(2) {
        grid-area: 1/1/2/2;
      }
      .gridItem:nth-child(3) {
        grid-area: 2/1/3/2;
      }
    }
  }
}
