.frameWrap {
  position: relative;
  max-width: 640px;
  width: 100%;
  overflow: hidden;

  .frameContainer {
    width: 100%;
    margin: auto;
    overflow-x: hidden;

    .carouselList {
      position: relative;
      width: 3840px;
      height: 100%;

      .slideContent {
        position: relative;
        display: table;
        float: left;

        img {
          width: 640px;
          height: 360px;
        }

        .titleContents {
          position: absolute;
          color: #fff;
          left: 5%;
          top: 75%;

          .title {
            font-size: 24px;
            font-weight: bold;
          }

          .subtitle {
            font-size: 16px;
          }
        }
      }
    }
  }
  .btnPrev {
    background: url('https://jotasic.github.io/21-kaka0-pet-shop-images/images/arrow-left.png')
      center center / 16px no-repeat;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -17.5px);
    width: 25px;
    height: 35px;
  }
  .btnNext {
    background: url('https://jotasic.github.io/21-kaka0-pet-shop-images/images/arrow-right.png')
      center center / 16px no-repeat;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -17.5px);
    width: 25px;
    height: 35px;
  }
  .countNumBox {
    position: absolute;
    bottom: 36px;
    right: 30px;
  }
}
