.mainTabWrap {
  position: fixed;
  top: 47px;
  left: 0;
  height: 43px;
  width: 100%;
  background: #fff;
  z-index: 100;

  .mainTabUI {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 640px;
    width: 100%;
    padding: 0px 16px;
    margin: 0px auto;
    border-bottom: 1px solid rgb(277, 229, 232);

    .tabList {
      position: relative;
      width: 100%;
      height: 43px;
      line-height: 43px;
      padding: 0px 4px;
      font-size: 16px;
      text-align: center;

      .tabItem {
        width: 100%;
        color: rgb(0, 0, 0);
        outline: none;
        font-size: 16px;

        .tabName {
          position: relative;

          .badge {
            position: absolute;
            top: 0;
            right: -10px;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background-color: rgb(255, 85, 117);
            font-size: 1px;
            overflow: hidden;
          }
        }

        .active {
          font-weight: 700;
        }
      }

      .focusUnderline {
        display: none;
        width: 100%;
        border-width: 4px 0px 0px;
        margin-top: -4px;
        border-top: 4px solid rgb(30, 30, 30);
      }
      .active {
        display: block;
      }
    }
  }
}
