* {
  box-sizing: border-box;
}

body,
th,
td,
input,
select,
textarea,
button {
  font-size: 16px;
  line-height: 1.5;
  font-family: NotoSans-Regular, AppleSDGothicNeo-Regular, '맑은 고딕',
    Malgun Gothic, '돋움', dotum, sans-serif;
  color: #1e1e1e;
  letter-spacing: -0.03em;
}

a {
  color: #1e1e1e;
  text-decoration: none;
}

button {
  outline: 0;
  line-height: 0;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
