.Order {
  max-width: 640px;
  margin: 90px auto 0px;

  .title {
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -0.2px;
    padding: 26px 0px 11px;
  }

  .itemToOrder {
    padding: 0px 20px 25px;

    .contents {
      min-height: 384px;
      overflow: hidden;
      border-bottom: 1px solid rgb(227, 229, 232);
    }
  }
}
