%inputWrapSetting {
  width: 100%;
  margin: 15px auto;
}

.Order {
  max-width: 640px;
  margin: 90px auto 0px;

  .title {
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -0.2px;
    padding: 11px 0px 26px;
  }

  .itemToOrder {
    padding: 0px 20px 25px;

    .contents {
      min-height: 384px;
      overflow: hidden;
      border-bottom: 1px solid rgb(227, 229, 232);
    }
  }

  .shippingInfo {
    padding: 0px 20px 25px;

    .infoWrap div {
      @extend %inputWrapSetting;
    }

    .name,
    .phone,
    .address {
      width: 100%;
      font-size: 16px;
      padding: 10px 15px;
      height: 45px;
      line-height: 23px;
      border-radius: 4px;
      border: 1px solid rgb(227, 229, 232);
    }

    .request {
      width: 100%;
      height: 70px;
      font-size: 16px;
      padding: 10px 15px;
      border-radius: 4px;
      border: 1px solid rgb(227, 229, 232);
      resize: none;
    }

    .saveToMyInfoContainer {
      padding-bottom: 20px;
      .saveToMyInfoCheck {
        margin-right: 8px;
      }
    }

    .noticeContainer {
      padding: 10px 0;
      border-top: 1px solid rgb(227, 229, 232);

      i {
        margin-right: 4px;
      }

      .para {
        font-size: 13px;
        color: rgb(154, 154, 158);
      }
    }
  }

  .payment {
    padding: 0px 20px 25px;
  }
}
