%inputWrapSetting {
  width: 100%;
  margin: 15px auto;
}

.Order {
  max-width: 640px;
  margin: 90px auto 0px;

  .title {
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -0.2px;
    padding: 11px 0px 26px;
  }

  .itemToOrder {
    padding: 0px 20px 25px;

    .contents {
      min-height: 384px;
      overflow: hidden;
      border-bottom: 1px solid rgb(227, 229, 232);
    }
  }

  .shippingInfo {
    padding: 0px 20px 25px;

    .infoWrap div {
      @extend %inputWrapSetting;
    }

    .name,
    .phone,
    .address,
    .request {
      width: 100%;
      font-size: 16px;
      padding: 10px 15px;
      height: 45px;
      line-height: 23px;
    }
  }
}
