%BtnSetting {
  width: 32px;
  height: 32px;
  margin: 7px;
}

%BtnLogoSetting {
  width: 18px;
  height: 18px;
  display: block;
}

.Nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff;

  .header {
    display: flex;
    align-items: center;
    max-width: 640px;
    height: 47px;
    margin: 0px auto;
  }

  .hamburgerBtn {
    @extend %BtnSetting;
    position: relative;

    .hamburgerBtnLogo {
      background: url('https://jotasic.github.io/21-kaka0-pet-shop-images/images/hamburgerIcon.png')
        center center / 18px no-repeat;
      @extend %BtnLogoSetting;
    }

    .hamburgerBtnBadge {
      position: absolute;
      top: 5.45px;
      left: 66%;
      width: 8px;
      height: 8px;
      margin-left: 0px;
      border-radius: 100%;
      display: block;
      background-color: rgb(255, 85, 117);
      color: rgb(255, 255, 255);
      border: 1px solid rgb(255, 255, 255);
    }
  }

  .titleWrap {
    width: 147px;
    padding: 11px 0;
    margin: 0px auto;

    .titleLink {
      display: block;
      width: 147px;
      height: 24px;
      background: url('https://jotasic.github.io/21-kaka0-pet-shop-images/images/logo.png')
        no-repeat;
      background-size: 147px 24px;
    }
  }
  .searchBtn {
    @extend %BtnSetting;

    .searchBtnLogo {
      @extend %BtnLogoSetting;
      background: url('https://jotasic.github.io/21-kaka0-pet-shop-images/images/search_main.png')
        center center / 18px no-repeat;
    }
  }

  .cartBtn {
    @extend %BtnSetting;
    padding: 0;

    .cartBtnLogo {
      display: block;
      width: 100%;
      height: 100%;
      background: url('https://jotasic.github.io/21-kaka0-pet-shop-images/images/basketIcon.png')
        center center / 32px no-repeat;
    }
  }
}

// search 모달창
.searchModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #fff;
  z-index: 200;

  .searchForm {
    display: flex;
    justify-content: space-around;
    width: 640px;
    height: 70px;
    max-width: 640px;

    .searchInputWrap {
      position: relative;
      margin: 14px 0px;
      flex: 1 1 0%;

      .searchInput {
        background: url('https://jotasic.github.io/21-kaka0-pet-shop-images/images/search.png')
          18px center / 18px no-repeat rgb(239, 240, 244);
        background-position-x: 12px;
        width: 100%;
        height: 42px;
        padding: 13px 38px;
        border-radius: 21px;
        font-size: 16px;
        border: 0px;
        caret-color: rgb(200, 201, 204);
      }
      .resetBtn {
        background: url('https://jotasic.github.io/21-kaka0-pet-shop-images/images/icon_search_remove.png')
          0% 0% / 18px no-repeat;
        position: absolute;
        top: 12px;
        right: 12px;
        width: 18px;
        height: 18px;
      }
    }
    .searchCloseBtn {
      width: 54px;
      height: 70px;
      font-size: 15px;
      color: rgb(26, 26, 26);
      font-weight: 500;
      line-height: 1.47;
    }
  }
  .searchBottomWrap {
    width: 640px;
    max-width: 640px;
    overflow: hidden auto;
    border-top: 1px solid rgb(227, 229, 232);

    .noResult {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 640px;
      padding: 150px;
      font-size: 16px;
      color: #999;
      letter-spacing: -0.25px;
    }

    .searchResultWrap {
      padding: 16.5px 0px 46px;
      width: 640px;

      .searchResult {
        padding: 6.5px 20px;
        font-size: 16px;
        display: block;
        color: rgb(26, 26, 26);
      }
    }
    .charactersWrap {
      padding: 15px 20px;

      .charactersUI {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .charactersUIList {
          margin: 8px 9px;
          width: 70px;
          height: 94px;

          .charactersUILink {
            background: url('https://jotasic.github.io/21-kaka0-pet-shop-images/images/chracterIcon.png')
              center center / 71px no-repeat;
            display: block;
            width: 71px;
            height: 71px;
          }

          .charactersName {
            width: 70px;
            padding-top: 8px;
            font-size: 12px;
            text-align: center;
            color: rgb(119, 119, 119);
          }
        }
      }
    }
    .dividingLine {
      margin: 0px 20px;
      width: 600px;
      border: none;
      height: 1px;
      color: rgb(242, 242, 242);
      background-color: rgb(242, 242, 242);
    }

    .categoryTitle {
      width: 79px;
      height: 20px;
      font-size: 15px;
      color: rgb(102, 102, 102);
      letter-spacing: -0.23px;
      margin-top: 22px;
      margin-left: 20px;
    }

    .categoryLists {
      padding: 4px 32px 20px;
      width: 640px;
      display: flex;
      flex-wrap: wrap;

      .categoryList {
        padding: 4px 4px;
        height: 36px;
        flex: 0 0 auto;

        .categoryLink {
          line-height: 1;
          padding: 6px 13px;
          border-radius: 51.2px;
          font-size: 14px;
          display: inline-block;
          border: 1px solid rgb(228, 228, 228);
          background-color: #fff;
          letter-spacing: -0.25px;
          color: #000;
        }
      }
    }
  }
}
